@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap');

/* semantic color variables for this project */
:root {

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  outline: none;
}

::-moz-selection { /* Code for Firefox */
  color: #FAFFFD;
  background: #0C0F0A;
}

::selection {
  color: #FAFFFD;
  background: #0C0F0A;
}

body {
  min-height: 100vh;
  line-height: 1.2;
  font-family: 'Figtree', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #272838;
/*   background-color: #508484; */
  background-color: #FAFFFD;
  overflow-x: hidden;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

section:first-child {
  margin-top: 0;
}

section:first-child {
  margin-top: 0;
}

h1, h2, h3, h4 {
  color: #F4B942;
  color: #0C0F0A;
  font-weight: 700;
  margin-bottom: .5rem;
}

h1, .h1 {
  font-size: 2.1em;
}
h2, .h2 {
  font-size: 1.8em;
}
h3, .h3 {
  font-size: 1.6em;
  font-weight: 600;
}

h4, .h4, .subHeading {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2em;
  font-weight: 400;
  color: #0C0F0A;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

b {
  font-weight: 600;
}

ul {
  padding-left: 1.5rem;
}

ul > li {
  list-style: none;
  margin-bottom: .3em;
}

ul > li:last-child {
  margin-bottom: 0;
}


ul > li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  width: .4rem;
  height: .4rem;
  background: #0C0F0A;
  border-radius: 50%;
}

a, .button {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2em;
  color: #508484;
  fill: #508484;
  outline: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

p > a {
  font-size: inherit;
} 

a:before, .button:before {
  content: '';
  display: block;
  width: 100%;
  min-height: 2px;
  height: 0.09em;
  background-color: #508484;
  position: absolute;
  left: 0;
  bottom: 0;
  will-change: transform;
  transform: scaleX(0);
  transition: .2s ease transform;
  transform-origin: left;
}

a:after, button:after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -10px;
  right: -10px;
  border-radius: 3px;
  border: 3px solid #508484;
  opacity: 0;
  transition: .1s ease-out opacity;
}

@media(min-width: 720px) {
  h1, .h1 {
    font-size: 3em;
  }
  h2, .h2 {
    font-size: 2em;
  }
  h3, .h3 {
    font-size: 1.8em;
  }
  h4, .h4, .subHeading {
    font-size: 1.6em;
  }
  
  p, a {
    font-size: 1.4em;
  }

  p > a {
    font-size: inherit;
  }
}

a:hover, .button:hover{
  color: #2e5050;
  fill: #2e5050;
}

a:hover:before, .button:hover:before{
  background-color: #2e5050;
}

@media (hover: hover) {
  a:hover:before, .button:hover:before{
    transform: scaleX(1);
  }

  a:focus-visible:after, button:focus-visible:after {
    opacity: 1; 
  }
}

/* .card {
  position: relative;
  background-color: #FAFFFD;
}

.card::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  background-color: #2e5050;
  background-color: rgba(0,0,0,0.4);
  margin-top: 2rem;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
}


@media(min-width: 720px) {
  .card {
    border: none;
  }

  .card::before {
    left: 0;
    transform: translateX(0);
    margin-left: -1rem;
    margin-top: 2rem;
  }
} */
