@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap');

/* semantic color variables for this project */
:root {

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: 'Figtree', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #272838;
  background-color: #FAFFFD;
}

section {
  margin-bottom: 1rem;
}

h1, .h1 {
  font-size: 2em;
}
h2, .h2 {
  font-size: 1.6em;
}
h3, .h3 {
  font-size: 1.4em;
}

h4, .h4, .subHeading {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2em;
  font-weight: 400;
  color: #0C0F0A;
  margin-bottom: .5rem;
}


@media(min-width: 720px) {
  h1, .h1 {
    font-size: 2.5em;
  }
  h2, .h2 {
    font-size: 2em;
  }
  h3, .h3 {
    font-size: 1.4em;
  }
  h4, .h4, .subHeading {
    font-size: 1.8em;
  }
  
  p {
    font-size: 1.4em;
  }
  

}

h1, h2, h3, h4 {
  color: #F4B942;
  color: #0C0F0A;
  font-weight: 700;
  margin-bottom: .5rem;
}




a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
  color: #508484;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}
